@import "tailwindcss";

/* For Webkit browsers (Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Adjust width */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1a1a1a; /* Background color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar color */
  border-radius: 4px; /* Rounded corners */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker on hover */
}
